<section class="body-copy">
  <h1>Test Case: Bigfoot</h1>
  <p>At the bottom of the page.</p>
</section>

<footer class="bigfoot" style="margin: 28em -1em -1em">
  <nav>
    <ul class="list-1">
      <li><a href="/">Bloggare</a></li>
      <li><a href="/">Alla inlägg</a></li>
      <li><a href="/">Bloggkategorier</a></li>
      <li><a href="/">Bloggetiketter</a></li>
      <li><a href="/">Bloggarkiv</a></li>
    </ul>

    <ul class="list-2">
      <li><a href="/">Logga in</a></li>
      <li><a href="/">Skapa ett blogginlägg</a></li>
    </ul>
    <ul class="list-3">
      <li><a href="/">Instruktioner &amp; hjälp</a></li>
    </ul>
  </nav>
</footer>
