<section class="body-copy">
  <h1>Test Case: Boxes</h1>
</section>

<section class="box" contextmenu="feeds-news-menu" id="feeds-news">
  <h1 class="box-title">Mina Kominnyheter</h1>
  <div class="box-instructions">
    <p>Denna box visar nyheter från Vår kommun, Dator &amp; telefon, Min förvaltning och Mitt arbetsfält, baserat på vad du valt i <a href="/users/2911/edit">Min profil</a>.</p>
    <p>Du kan dessutom lägga till fler nyhetsflöden genom att klicka på pilen uppe till höger i denna box.</p>
  </div>
  <div class="box-content body-copy">
    <p>Box w/help and context menu</p>
    <p>Suitable for dashboard useage</a>.</p>
  </div>
  <a href="#" class="toggle-instructions" title="Visa instruktioner">?</a>
  <div class="dropdown box-menu pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="feeds-news-menu" role="button" title="Anpassa denna box">
      <span class="icon-caret-down icon-large"></span>
    </a>
    <menu aria-labelledby="feeds-news-menu" class="dropdown-menu" role="menu">
      <li><a href="/users/select_feeds/news">Hantera dessa flöden...</a></li>
      <li><a href="/users/reset_feeds/news" data-confirm="Vill du återställa alla flöden för Mina Kominnyheter?" data-method="put">Återställ dessa flöden</a></li>
      <li><a href="/feeds">Administrera...</a></li>
    </menu>
  </div>
</section>

<section class="box light" contextmenu="feeds-news-menu" id="feeds-news">
  <h1 class="box-title">Lighter box</h1>
  <div class="box-instructions">
    <p>Denna box visar nyheter från Vår kommun, Dator &amp; telefon, Min förvaltning och Mitt arbetsfält, baserat på vad du valt i <a href="/users/2911/edit">Min profil</a>.</p>
    <p>Du kan dessutom lägga till fler nyhetsflöden genom att klicka på pilen uppe till höger i denna box.</p>
  </div>
  <div class="box-content body-copy">
    <p>Box w/help and context menu</p>
    <p>Suitable for in content useage</a>.</p>
  </div>
  <a href="#" class="toggle-instructions" title="Visa instruktioner">?</a>
  <div class="dropdown box-menu pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="feeds-news-menu" role="button" title="Anpassa denna box">
      <span class="icon-caret-down icon-large"></span>
    </a>
    <menu aria-labelledby="feeds-news-menu" class="dropdown-menu" role="menu">
      <li><a href="/users/select_feeds/news">Hantera dessa flöden...</a></li>
      <li><a href="/users/reset_feeds/news" data-confirm="Vill du återställa alla flöden för Mina Kominnyheter?" data-method="put">Återställ dessa flöden</a></li>
      <li><a href="/feeds">Administrera...</a></li>
    </menu>
  </div>
</section>
