<section class="body-copy">
  <h1>Test Case: Forms, Multi Fields</h1>
</section>

<form class="form-horizontal" action="#" method="post"  style="max-width: 35em">
  <section>
    <p class="help">
      Some instructions to the form may, or may not, be necessary. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation.
    </p>

    <div class="control-group">
      <label for="person-name" class="control-label">Name:*</label>
      <div class="controls">
        <input type="text" id="person-name" name="person-name" class="input-wide" placeholder="e.g. Joan Doe"/>
      </div>
    </div>
    <div class="control-group">
      <label for="email" class="control-label">Email address:*</label>
      <div class="controls">
        <input type="email" id="email" name="email" class="input-wide" placeholder="e.g. joan.doe@malmo.se"/>
      </div>
    </div>

    <div class="control-group">
      <label for="something" class="control-label">Say something:</label>
      <div class="controls">
        <input type="text" id="something" name="something" placeholder="Speak up!" class="input-wide"/>
        <label class="radio inline">
          <input type="radio" name="something-boolean" value="true"/>
          It's true
        </label>
        <label class="radio inline">
          <input type="radio" name="something-boolean" value="false"/>
          It's a lie
        </label>
        <div class="help-inline">
          Some inline help. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Colors (many choices):*</div>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="color" value="red"/>
          Red
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="green"/>
          Green
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="blue"/>
          Blue
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="yellow"/>
          Yellow
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="pink"/>
          Pink
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="black"/>
          Black
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="red"/>
          Red
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="green"/>
          Green
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="blue"/>
          Blue
        </label>
        <label class="checkbox">
          <input type="checkbox" name="color" value="yellow"/>
          Yellow
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Colors (just some):</div>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" name="color-2" value="red"/>
          Red is a color
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="color-2" value="green"/>
          Green
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="color-2" value="blue"/>
          Blue
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Shape:</div>
      <div class="controls">
        <label class="radio inline">
          <input type="radio" name="shape" value="circle"/>
          Circle
        </label>
        <label class="radio inline">
          <input type="radio" name="shape" value="square"/>
          Square
        </label>
        <label class="radio inline">
          <input type="radio" name="shape" value="n/a"/>
          N/A
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <input type="button" value="Cancel" class="btn"/>
      </div>
    </div>
  </section>
</form>
