<section class="body-copy">
  <h1>Test Case: Buttons</h1>
</section>
<section>
  <h1>Button elements</h1>
  <a class="btn" href="">Link</a>
  <button class="btn" type="submit">Button</button>
  <input class="btn" type="button" value="Input">
  <input class="btn" type="submit" value="Submit">
</section>

<section>
  <h1>Buttons</h1>
  <button class="btn" type="button">btn</button>
  <button class="btn btn-primary btn" type="button">btn btn-primary</button>
  <button class="btn btn-danger" type="button">btn btn-danger</button>
  <button class="btn btn-inverse" type="button">btn btn-inverse</button>
  <button class="btn btn-link" type="button">btn btn-link</button>
</section>
<section>
  <h1>Button sizes</h1>
  <button class="btn btn-mini" type="button">btn-mini</button>
  <button class="btn btn-small" type="button">btn-small</button>
  <button class="btn btn" type="button">btn</button>
  <button class="btn btn-large" type="button">btn-large</button>
</section>

<section>
  <h1>Disabled buttons</h1>
  <button class="btn disabled" disabled="disabled" type="button">btn</button>
  <button class="btn btn-primary disabled" disabled="disabled" type="button">btn btn-primary</button>
  <button class="btn btn-danger disabled" disabled="disabled" type="button">btn btn-danger</button>
  <button class="btn btn-inverse disabled" disabled="disabled" type="button">btn btn-inverse</button>
  <button class="btn btn-link disabled" disabled="disabled" type="button">btn btn-link</button>
</section>

<section>
  <h1>Button group</h1>
  <div class="btn-group">
    <button class="btn">Left</button>
    <button class="btn">Middle</button>
    <button class="btn">Right</button>
  </div>      
</section>

<section>
  <h1>Button dropdowns</h1>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="icon-caret-down"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="icon-caret-down"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="icon-caret-down"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">Inverse <span class="icon-caret-down"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div><!-- /btn-group -->
  </div>
</section>
