<section class="body-copy">
  <h1>Test Case: Tables</h1>
</section>

<section style="max-width: 40em; border: 1px solid #ccc; padding: 1em">
  <h1>Hz scroll on table w/table-wrapper</h1>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Header foo</th>
          <th>Header bar</th>
          <th>Header fox</th>
          <th>Header baz</th>
          <th>2012</th>
          <th>2013</th>
          <th>SEK</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
          <td>Sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</td>
          <td> Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</td>
          <td> Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
          <td>Sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</td>
          <td>Data data data</td>
          <td>Data data data</td>
          <td> Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</td>
          <td> Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
