#malmo-masthead {
  > nav > ul > li {
    > a {
      height: auto;
      span {
        display: none;
      }
    }
  }
  #nav-search-trigger a span {
    display: none !important;
  }
  #masthead-others {
    display: none;
  }
}

.table-wrapper {
  overflow: hidden;
  width: auto;
}

@import "font-awesome-ie7";

.icon-plus, .icon-trash {
  zoom: expression();
}

.form-horizontal .control-label {
  width: 160px;
}
.form-horizontal .controls {
  display: inline-block;
  padding-left: 20px;
  margin-left: 0;
}
