#malmo-masthead {
  #nav-search-trigger,
  #nav-menu-trigger,
  > nav > ul > li {
    display: block;
    float: left;
    max-height: 41px !important;
    overflow: hidden;
    > a {
      span {
        display: none;
      }
    }
    &.open {
      overflow: visible;
    }
  }
  #nav-search-trigger a span {
    display: none !important;
  }
}

.table-wrapper {
  overflow: hidden;
  width: auto;
}

@import "font-awesome-ie7";

.icon-plus, .icon-trash {
  zoom: expression();
}

.form-horizontal .control-label {
  width: 160px;
}
.form-horizontal .controls {
  display: inline-block;
  padding-left: 20px;
  margin-left: 0;
}
