/* jQuery UI Autocomplete. CSS is not theme rolled */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fff;
  @include box-shadow(2px 2px 10px rgba(0, 0, 0, .5));
  border: $border;
  @include radius(0 0 3px 3px);

  .ui-menu-item > a {
    display: block;
    font-family: $sansSerif;
    font-size: emize(13);
    clear: both;
    white-space: nowrap;
    color: #000;
    margin: 0 !important;
    padding: .4em .5em;
  }

  .ui-state-focus {
    background: $backgroundDark;
    color: white !important;
    cursor: pointer;
    margin: 0;
  }
}

.ui-autocomplete.ui-menu .ui-menu-item {
  // overrides jquery ui helper css that makes items very heigh
  // Bug introduce as a fix http://bugs.jqueryui.com/ticket/8844
  list-style-image: none !important;
}
