body {
  padding: 0;
  margin: 3.7em 0 0;
  font-size: 100%;
  font-family: $serif;
  background-color: $bodyBackground;
  color: $bodyColor;
  text-rendering: optimizeLegibility;
}

// HTML5 elements
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img, img a {
  border: none;
}

p {
  margin: 0 0 1em;
}

ul, ol, menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}
blockquote {
  font-style: italic;
}
.table-wrapper {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  th {
    text-align: left;
    vertical-align: top;
  }
  th, td {
    vertical-align: top;
    font-family: $sansSerif;
    font-size: emize(13);
    line-height: 1.35;
    padding: .4em .6em;
    border-top: $border;
    border-bottom: $border;
    border-collapse: collapse;
  }
  &.full {
    width: 100%;
  }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  margin-top: 0;
}
