form.malmo-form, .malmo-form form, .form-data {
  font-family: $sansSerif;
}

.malmo-form {
  input[type="file"] {
    font-size: 13px;
    line-height: 22px;
  }

  label {
    font-size: 13px;
  }
  .radio.inline, .checkbox.inline {
    margin-left: 0 !important;
    margin-right: 1.2em;
  }

  .help-inline, .help {
    color: black;
    padding-left: 0;
  }
  .help-inline {
    font-size: 13px;
  }
  .help, .help-block {
    margin: 0 0 1em;
    font-size: 13px;
    line-height: 1.4;
    font-family: $sansSerif;
  }
  ul.help {
    list-style: disc;
    margin-left: 1em;
    padding-left: 1em;
  }

  table {
    td, th {
      &.error, &.success {
        border-width: 1px 0;
      }
    }
  }

  h2.form-group-title {
    font-size: 13px;
    border-bottom: $border;
    margin: 1em 0 1em;
    padding-bottom: .2em;
  }

  .box {
    p {
      &.notice, &.warning, &.error, &.flash {
        margin: .8em .8em;
      }
    }
  }

  .control-group.warning, .field_with_errors {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 13px;
    label, .checkbox {
      color: black;
    }
    .control-label {
      color: $warningColor;
    }
    input, textarea, select, input, input:focus {
      border: $warningBorder;
      color: black;
    }
    .help-inline {
      color: $warningColor;
      display: block;
    }
    .help-block {
      color: black;
    }
  }
  .help-inline.warning {
    display: block;
    margin-bottom: 1em;
    color: $warningColor;
    background: transparent;
    border: none;
  }

  .small {
    max-width: 6em;
  }

  .input-wide, .wide {
    width: 90%;
  }

  // Used for pseudo labels
  .control-group {
    div.control-label {
      font-size: 13px;
      line-height: 1.4em;
    }
  }
  // Used for show views w/form layout
  .control-group.text-only {
    margin-bottom: 0;
    .control-label {
      margin-top: 0;
      padding: .8em 0;
    }
    .controls {
      font-size: 13px;
      line-height: 1.4em;
      margin-top: 0;
      padding: .8em 0;
      .change {
        margin-left: 1em;
        margin-right: .2em;
        float: right;
        display: inline-block;
      }
    }
  }

  .more-info {
    display: none;
    padding: .4em .8em .5em;
    margin: .5em 1px 1em 0;
    @include radius(3px);
    border: $border;
    background: $backgroundLight;
    font-family: $serif;
    font-size: emize(14, 13);
    line-height: 1.4;
    p {
      margin: .5em 0;
    }
  }
  .show-more-info {
    margin-left: .4em;
  }
  p.help {
    width: 90%;
    margin-top: .4em;
  }

  input.small[type="text"],
  input.small[type="password"],
  input.small[type="datetime"],
  input.small[type="datetime-local"],
  input.small[type="date"],
  input.small[type="month"],
  input.small[type="time"],
  input.small[type="week"],
  input.small[type="number"],
  input.small[type="email"],
  input.small[type="url"],
  input.small[type="search"],
  input.small[type="tel"],
  input.small[type="color"] {
    height: 16px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 16px;
  }

  input.date {
    width: 8em;
  }
  .date .add-on.icon-th {
    cursor: pointer;
  }
  // For missing placeholder support in IE9
  input.placeholder {
    color: #555;
  }
}

.dropdown-menu.datepicker-dropdown * {
  font-size: 13px;
}

// Fluid horizontal forms, use a @media query w/a breakpoint to make it vertical
.form-horizontal {
  .control-group {
    margin-bottom: 1em;
    @include box-sizing(border-box);
  }
  .control-label {
    @include box-sizing(border-box);
    font-size: 13px;
    text-align: left;
    width: 30%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .controls {
    @include box-sizing(border-box);
    font-size: 13px;
    margin-right: 0;
    margin-left: 30%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
  }
}

// Reset for body-copy's ul trashing the bootstrap dropdown
.body-copy ul.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    &.divider {
      margin: .2em 0;
    }
  }
}
