.malmo-form {
  input[type="file"] {
    font-size: 13px;
    line-height: 22px;
  }

  label {
    font-size: 13px;
  }

  .radio.inline, .checkbox.inline {
    margin-right: 1em;
  }

  // Fluid horizontal forms, use a @media query w/a breakpoint to make it vertical
  .form-horizontal {
    .control-group {
      margin-bottom: 1em;
      @include box-sizing(border-box);
    }
    .control-label {
      @include box-sizing(border-box);
      text-align: left;
      width: 30%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .controls {
      @include box-sizing(border-box);
      margin-right: 0;
      margin-left: 30%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 1px;
    }
  }

  .help-inline, .help {
    color: black;
    padding-left: 0;
  }
  .help-inline {
    font-size: 13px;
  }
  .help, .help-block {
    margin: 0 0 1em;
    font-size: 13px;
    line-height: 1.4;
    font-family: $sansSerif;
  }
  ul.help {
    list-style: disc;
    margin-left: 1em;
    padding-left: 1em;
  }

  form, .form-data {
    font-family: $sansSerif;
    table {
      td, th {
        &.error, &.success {
          border-width: 1px 0;
        }
      }
    }

    h2.form-group-title {
      font-size: 13px;
      border-bottom: $border;
      margin: 2em 0 1em;
      padding-bottom: .2em;
    }

    .box {
      p {
        &.notice, &.warning, &.error, &.flash {
          margin: .8em .8em;
        }
      }
    }

    .control-group.warning, .field_with_errors {
      padding: 0;
      background: transparent;
      border: none;
      font-size: 13px;
      label, .checkbox {
        color: black;
      }
      .control-label {
        color: $warningColor;
      }
      input, textarea, select, input, input:focus {
        border: $warningBorder;
        background: $warningBackground;
        color: black;
      }
      .help-inline {
        color: $warningColor;
        display: block;
      }
    }
    .help-inline.warning {
      display: block;
      margin-bottom: 1em;
      color: $warningColor;
      background: transparent;
      border: none;
    }
  }

  .input-wide {
    width: 90%;
  }
  // Used for pseudo labels
  .control-group {
    div.control-label {
      font-size: 13px;
      line-height: 1.4em;
    }
  }
  // Used for show views w/form layout
  .control-group.readonly {
    margin-bottom: 0;
    .control-label {
      margin-top: 0;
      padding: .8em 0;
    }
    .controls {
      font-size: 13px;
      line-height: 1.4em;
      margin-top: 0;
      padding: .8em 0;
      .change {
        margin-left: 1em;
        margin-right: .2em;
        float: right;
        display: inline-block;
      }
    }
  }
  input.small[type="text"],
  input.small[type="password"],
  input.small[type="datetime"],
  input.small[type="datetime-local"],
  input.small[type="date"],
  input.small[type="month"],
  input.small[type="time"],
  input.small[type="week"],
  input.small[type="number"],
  input.small[type="email"],
  input.small[type="url"],
  input.small[type="search"],
  input.small[type="tel"],
  input.small[type="color"] {
    height: 16px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 16px;
  }
}
