#malmo-masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include linear-gradient($mastheadBackgroundFrom, $mastheadBackgroundTo, 0, 2.4em);
  @include box-shadow(0 3px 3px $borderColor);
  min-width: 50em;
  > nav > ul > li {
    float: left;
    > a {
      display: block;
      @include box-sizing(border-box);
      overflow: hidden;
      white-space: nowrap;
      padding: 13px 1em 14px;
      margin: 0 -1px 0 0;
      color: $mastheadColor;
      font-family: $sansSerif;
      font-size: emize(13);
      line-height: 1.1;
      outline: 0;
      border: transparent solid;
      border-width: 0 1px;
      &.dropdown-toggle {
        padding-right: .5em;
        color: $mastheadColor;
      }
      &.dropdown-toggle.more-items {
        padding-bottom: 13px;
      }
      &.dropdown-toggle.no-arrow {
        padding-right: 1em;
      }
    }
    > a:hover,
    > a:focus,
    &.open > a {
      @include linear-gradient($mastheadBackgroundHighlightFrom, $mastheadBackgroundHighlightTo);
      border-color: transparent $mastheadColor;
    }
    ul.dropdown-menu {
      top: 3.1em;
      white-space: nowrap;
      &:after {
        position: absolute;
        top: -9px;
        left: 13px;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #ffffff;
        border-left: 9px solid transparent;
        content: '';
      }

      &:before {
        position: absolute;
        top: -10px;
        left: 12px;
        display: inline-block;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $borderColor;
        border-left: 10px solid transparent;
        content: '';
      }
    }
  }
  > nav#masthead-others > ul > li {
    float: right;
    &.phone a {
      line-height: 18px;
      padding: 14px .4em 9px;
    }
    &.map a {
      line-height: 18px;
      padding: 13px .4em 10px;
    }
  }

  #nav-my-department, #nav-my-workingfield {
    .icon-caret-down {
      display: none;
    }
  }

  .nav-logo {
    display: block;
    float: left;
    padding: 0 0 0 .5em;
    font-family: $sansSerif;
    line-height: 1;
    background: url("logo-x1.png") 10px 5px no-repeat;
    background-size: 24px;
    a {
      display: block;
      color: $mastheadColorHighlight;
      @include box-sizing(border-box);
      padding: emize(6) emize(12) emize(6) emize(24);
      border: none;
      font-weight: bold;
      font-size: emize(23);
      line-height: 1;
      text-transform: uppercase;
    }
  }

  #nav-menu-trigger, #nav-search-trigger {
    float: right;
    a {
      display: block;
      padding: 11px 1em 12px;
      line-height: 18px;
      font-family: $sansSerif;
      font-size: emize(13);
      outline: 0;
      border: transparent solid;
      border-width: 0 1px;
      color: $mastheadColor;
      span {
        line-height: 6px;
      }
    }
    a:hover,
    a:focus {
      @include linear-gradient($mastheadBackgroundHighlightFrom, $mastheadBackgroundHighlightTo);
      color: $mastheadColorHighlight;
      border: white solid;
      border-width: 0 1px;
      border-collapse: collapse;
    }
  }

  #nav-search-trigger a:hover {
    border-right-color: black;
  }

  #nav-menu-trigger {
    display: none;
  }
  #masthead-search {
    display: none;
    position: absolute;
    @include box-sizing(border-box);
    right: 0;
    padding: 1.4em;
    border: $border;
    @include radius(0 0 0 3px);
    @include box-shadow(2px 2px 3px $borderColor);
    background: $backgroundLight;
    form {
      margin-bottom: 0;
    }
    input[type=text] {
      width: 20em;
    }
  }
}

// Add on of the class selectors to the body
// to get an active nav item
.malmo-masthead-dashboard #nav-dashboard,
.malmo-masthead-my-department #nav-my-department,
.malmo-masthead-my-workingfield #nav-my-workingfield,
.malmo-masthead-our-organization #nav-our-organization,
.malmo-masthead-hrutan #nav-hrutan,
.malmo-masthead-more #nav-more-items,
.malmo-masthead-map #masthead-others .map,
.malmo-masthead-search #nav-search-trigger {
  > a {
    @include linear-gradient($mastheadBackgroundHighlightFrom, $mastheadBackgroundHighlightTo);
    border-color: transparent $mastheadColor;
  }
}
.malmo-masthead-search #nav-search-trigger > a {
  border-left: 1px solid $mastheadColor !important;
}

.service-title {
  padding: .5em .9em;
  line-height: 1;
  margin: 0 0 1em;
  background-color: $backgroundLight;
  border: $border;
  border-width: 1px 0;
  font-size: emize(13);
  font-weight: normal;
  font-family: $sansSerif;
  a {
    color: black;
  }
}
