// Retina logos
@media (min-resolution: 2dppx) {
  #malmo-masthead .nav-logo a {
    background: white url("logo-x2.png") 15px center no-repeat;
    background-size: 48px 65px;
  }
}
@media (min-resolution: 1dppx) and (max-width: 43em) {
  #malmo-masthead .nav-logo a {
    background: url("logo-mini-x1.png") 0 no-repeat;
    background-size: 26px;
  }
}
@media (min-resolution: 2dppx) and (max-width: 43em) {
  #malmo-masthead .nav-logo a {
    background: url("logo-mini-x2.png") 0 no-repeat;
    background-size: 26px;
  }
}

// In case the nav was hidden by click event in narrower width
@media (min-width: 43.1em) {
  #malmo-masthead > nav {
    display: block !important;
  }
}

// Switch to collapsed top nav
@media (max-width: 43em) {
  #malmo-masthead {
    // margin-bottom: 2em;
    min-width: 0;
    border-bottom: $border;
    height: 2.6em;
    margin: 0 0 1em;

    .nav-logo {
      top: .5em;
      left: .5em;
      a {
        width: 26px;
        height: 26px;
      }
    }

    #nav-triggers {
      display: block;
      position: absolute;
      right: 1em;
      top: .8em;
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      a {
        height: 2em;
        color: black;
        font-family: $sansSerif;
        font-size: emize(13, 16);
      }
    }

    #nav-menu-trigger {
      display: block;
      margin-right: -1px;
      a {
        margin-right: 1.4em;
        span {
          padding-left: .3em;
        }
      }
    }
    #nav-search-trigger a {
      margin-right: 0;
      span {
        padding-left: .3em;
      }
    }

    > nav {
      display: none;
      width: 100%;
      overflow: hidden;
      border-bottom: 0;
      @include clearfix();
      ul li {
        float: none;
        width: 100%;
        a,
        a:hover,
        a:focus {
          font-size: emize(15, 16);
          height: auto;
          padding: emize(18) emize(13);
          border-width: 1px 0 0;
          border-top-color: $narrowNavBorderColor;
          background-color: $backgroundLight;
          color: $narrowNavColor;
          @include radius(0);
          .icon-caret-down {
            display: none;
          }
        }
        a:hover,
        a:focus {
          background-color: $backgroundLightHover;
        }
      }
    }

    #masthead-search {
      display: none;
      position: static;
      float: left;
      width: 100%;
      overflow: hidden;
      border-bottom: 0;
      padding-left: .8em;
      padding-right: .8em;
      input[type=text] {
        width: 70%;
      }
    }
  }

  body.development:after,
  body.test:after {
    font-size: 13px;
  }
}

@media (max-width: 34em) {
  body.development:after,
  body.test:after {
    font-size: 9px;
  }
}

@media (max-width: 46em) {
  @include form-force-vertical();
}
