// Retina logo
@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  #malmo-masthead .nav-logo {
    background-image: url("logo-x2.png");
  }
}

#malmo-masthead #masthead-search input.text {
  @media (min-width: 70em) { width: 22em; }
  @media (max-width: 70em) { width: 20em; }
  @media (max-width: 68em) { width: 18em; }
  @media (max-width: 66em) { width: 16em; }
  @media (max-width: 64em) { width: 14em; }
}

@media (max-width: 74em) {
  #masthead-others {
    display: none;
  }
}

// Switch to collapsed top nav
@media (max-width: 61em) {
  // Prevent scrolling of body when nav is open
  body.nav-open {
    height: 100%;
    overflow: hidden;
  }
  #malmo-masthead {
    min-width: 0;
    @include clearfix();
    #masthead-search {
      position: static;
      float: left;
      width: 100%;
      overflow: hidden;
      padding-left: .8em;
      padding-right: .8em;
      .icon-search {
        display: none;
      }
      &.expanded {
        @include radius(0);
        border: none;
      }
    }
    #masthead-search #masthead-search-intranet input.text {
      display: none;
    }
    #masthead-search.expanded #masthead-search-intranet input.text {
      display: inline;
    }
    #masthead-search.expanded input.text {
      max-width: 55%;
    }
    > nav {
      position: fixed;
      top: emize(41);
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      overflow: hidden;
      background: rgba(255, 255, 255, .7);
      ul {
        overflow: auto;
        position: static;
        height: 100%;
        li {
          float: none;
          width: 100%;
          a,
          a:hover,
          a:focus,
          &.open > a:hover,
          &.open > a:focus {
            height: auto;
            padding: emize(18) emize(13);
            background-color: $narrowNavBackground !important;
            border-width: 1px 0 0;
            border-top-color: $narrowNavBorderColor;
            color: $narrowNavColor;
            @include radius(0);
            .icon-caret-down {
              display: none;
            }
          }
        }
        > li#nav-more ul.dropdown-menu {
          margin-bottom: 2em;
          @include box-shadow(2px 2px 3px rgba(0, 0, 0, .2));
        }
      }
      ul.dropdown-menu li {
        a, a:hover, a:focus {
          line-height: emize(15, 13);
        }
      }
    }
    > nav.expanded {
      display: block;
    }
    #nav-triggers {
      display: block;
    }
    #nav-menu-trigger {
      margin-right: -1px;
      a {
        margin-right: 0;
        span {
          padding-left: .3em;
        }
      }
    }
    #nav-search-trigger a {
      margin-right: 0;
      span {
        margin-left: 0;
      }
    }

    #nav-my-department, #nav-my-workingfield, #nav-more {
      .dropdown-toggle {
        display: none;
        cursor: default;
        background: $narrowNavBackground;
      }
      ul.dropdown-menu {
        position: static;
        display: block;
        @include box-shadow(none);
        @include radius(0);
        border: none;
        width: 100%;
        &:after, &:before {
          content: none;
        }

        > li {
          > a {
            background: $narrowNavBackground;
            @include radius(0);
            padding-top: emize(18);
            padding-bottom: emize(18);
            border-top-width: 1px;
            border-top-color: $narrowNavBorderColor;
            border-top-style: solid;
          }
          > a:hover,
          > a:focus {
            background: $narrowNavBackgroundHiglight;
          }
        }
      }
    }
  }

  // Add on of the class selectors to the body
  // to get an active nav item
  .malmo-masthead-dashboard #nav-dashboard,
  .malmo-masthead-my-department #nav-my-department,
  .malmo-masthead-my-workingfield #nav-my-workingfield,
  .malmo-masthead-our-organization #nav-our-organization,
  .malmo-masthead-hrutan #nav-hrutan,
  .malmo-masthead-more #nav-more {
    a, a:hover {
      border-top-color: $narrowNavBorderColor;
      background: $narrowNavBackgroundHiglight;
      background: $narrowNavBackgroundHiglight;
    }
  }

  .ui-autocomplete .ui-menu-item {
    border-bottom: $border;
    &:last-child {
      border-bottom: none;
    }
    > a.ui-corner-all {
      padding: .8em;
    }
  }

  body.development:after,
  body.test:after {
    font-size: 13px;
  }
}

@media (max-width: 46em) {
  @include form-force-vertical();
}

@media (max-width: 38em) {
  footer.bigfoot {
    ul, ul.list-3 {
      @include columns(12);
    }
  }
}

@media (max-width: 34em) {
  #malmo-masthead {
    nav {
      li a {
        padding: emize(18) emize(12) !important;
      }
    }
  }
  body.development:after,
  body.test:after {
    font-size: 9px;
  }
}

@media (max-width: 28em) {
  #malmo-masthead {
    #masthead-search.expanded  label.add-on {
      display: none;
    }
  }
}
