.notice, .success, .warning, .error, .flash {
  font-size: emize(13);
  @include radius(3px);
  font-family: $sansSerif;
  padding: .5em .8em;
  margin-bottom: 1em;
}

.notice, .success {
  background: $successBackground;
  border: $successBorder;
}
.warning {
  background: $warningBackground;
  border: $warningBorder;
}
.error {
  background: $errorBackground;
  border: $errorBorder;
}

.field_with_errors input {
  background: $warningBackground;
  border: $warningBackground solid 1px;
}
.field_with_errors label {
  color: black;
}

.not-found, .server-error {
  margin-bottom: 12em;
  h1 {
    font-size: emize(32);
    font-weight: normal;
    padding: 0;
    margin: 0 0 .3em;
  }
  p {
    font-size: emize(18);
  }
}
