.ui-autocomplete.site-search {
  .ui-menu-item {
    > a.ui-corner-all {
      padding-top: .6em;
      padding-bottom: .6em;
    }
    .hits {
      float: right;
    }
  }
  .more-search-results.ui-menu-item {
    border-top: $border;
    background-color: $backgroundLight;
  }
  .ui-autocomplete-category {
    border-top: $border;
    border-bottom: $border;
    background-color: $backgroundLight;
    padding: .7em .6em;
    font-family: $sansSerif;
    font-size: emize(13);
  }
  .recommendation a {
    padding-top: 1em;
    img {
      width: 24px;
      height: auto;
      margin-right: .5em;
      float: left;
      background: white;
    }
  }
}
