a.close-map {
  position: absolute;
  top: .15em;
  left: .5em;
  background: transparent;
  font-family: $sansSerif;
  font-size: emize(13);
  color: black;
  span {
    margin-right: .4em;
    color: $backgroundDark;
  }
  &:hover {
    text-decoration: none;
    span {
      color: $dangerColor;
    }
  }
}

.a11y {
  position: absolute;
  left: -300em;
  width: 1em;
  overflow: hidden;
}

.loading {
  min-width: 14px;
  min-height: 14px;
  background-image: url("loading.gif");
  background-repeat: no-repeat;
}

.show {
  display: block;
}
.hide {
  display: none;
}

body.test, body.development {
  &:after {
    position: fixed;
    bottom: 3.4em;
    left: -3.4em;
    @include rotate(45);
    @include opacity(.7);
    z-index: 100;
    background: $dangerColor;
    color: white;
    font-family: $sansSerif;
    font-weight: bold;
    font-size: 16px;
    padding-top: .3em;
    padding-bottom: .3em;
  }
}

body.development {
  &:after {
    content: "Utvecklingsversion";
    padding-left: 3em;
    padding-right: 3em;
  }
}

body.test {
  &:after {
    content: "Testversion";
    padding-left: 4.9em;
    padding-right: 4.9em;
  }
}

body.staging {
  &:after {
    content: "Staging";
    padding-left: 4.9em;
    padding-right: 4.9em;
  }
}
