// Black text on white background is the default
// with green links in content
$bodyBackground: white;
$bodyColor: black;
$linkColor: #0065a5;

// Borders around boxes etc.
$borderColor: #ccc;
$border: $borderColor 1px solid;
// Darker border
$borderColorDark: darken($borderColor, 20%);
$borderDark: $borderColorDark 1px solid;

// Background colors
$backgroundLight: #fafafa;
// Use it for hover effect when the area is linked
$backgroundLightHover: darken($backgroundLight, 5%);
// Background colors used with inverted text
$backgroundDark: #888;
$backgroundDarker: darken($backgroundDark, 34%);

// Masthead with hover effects
$mastheadBackground: #004679;
$mastheadBackgroundHighlight: desaturate(lighten($mastheadBackground, 12%), 25%);
$mastheadColor: white;

// Masthead in collapsed mode
$narrowNavBackground: #5a5a5a;
$narrowNavBackgroundHiglight: #000;
$narrowNavBorderColor: white;
$narrowNavBottomBorderColor: none;
$narrowNavBackground: $backgroundLight;
$narrowNavBackgroundHiglight: $backgroundLightHover;
$narrowNavColor: black;
$narrowNavBorderColor: $borderColor;

// Title bars for boxes
$boxTitleBackground: $backgroundDarker;
$boxTitleColor: white;
$boxTriggersHightligt: lighten(#666, 14%);

$boxShadow: 2px 2px 3px #ccc;

// Background color for Save/Update/Login buttons
$btnPrimaryBackground: #60c05a;
$btnPrimaryBackgroundDark: darken($btnPrimaryBackground, 15%);

// Colors for status messages
$successBackground: #eafcea;
$successBorder: 1px solid desaturate(darken($successBackground, 50%), 40%);
$warningBackground: #fffcd0;
$warningColor: #c00;
$warningBorder: 1px solid $warningColor;
$errorBackground: #ffeae0;
$errorBorder: 1px solid darken($errorBackground, 40%);
$dangerColor: #c00;

// Fonts
$sansSerif: 'XXXOpenSans', 'myriad-pro', 'Droid Sans', 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
$serif: Georgia, 'Droid Serif', 'DejaVu Serif', 'Bitstream Vera Serif', serif;
$monospace: Consolas, Inconsolata, 'Droid Sans Mono', 'DejaVu Mono', 'Bitstream Vera Mono', monospace;
$iconFont: FontAwesome;

// [ ] Light "myriad-pro"  300 normal
// [ ] Light Italic  "myriad-pro"  300 italic
// [x] Regular "myriad-pro"  400 normal
// [x] Italic  "myriad-pro"  400 italic
// [x] Semibold  "myriad-pro"  600 normal
// [x] Semibold Italic "myriad-pro"  600 italic
// [x] Bold  "myriad-pro"  700 normal
// [ ] Bold Italic "myriad-pro"  700 italic
// [x] Black "myriad-pro"  900 normal
// [ ] Black Italic  "myriad-pro"  900 italic
